@{
    ViewBag.Title = "Home Page";
}
@section featured {
    
}
<style>
    .favList {
        margin: 0px 25px;
    }

    .favPadding {
        padding: 4px;
    }

    .image-container {
        height: 110px;
        width: 150px;
        position: relative;
    }

    #image {
        position: absolute;
        left: 0;
        top: 0;
    }

    .text {
        z-index: 100;
        width: 100%;
        background-color: Gray;
        position: absolute;
        color: whitesmoke;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: bold;
        left: 0px;
        bottom: 0px;
        padding: 0px 5px;
    }

    .modalBackground {
        background-color: Gray;
        filter: alpha(opacity=70);
        opacity: 0.7;
        position: absolute;
    }
</style>
<!-- Front -->
<div id="front">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 slide no-gutter">
            </div>
            <div class="col-sm-4 topservices" style="position:relative;">
                <div class="favList">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacersmall services">
    <div class="container">
        <div class="row">
            <style>
                .ui-widget-header {
                    border: 1px solid #dddddd;
                    background: #bfa145;
                    color: #333333;
                    font-weight: bold;
                }
            </style>
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Range Harga</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-default btn-fullwidth text-uppercase">Cari</button>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" align="center" style="padding:40px 0px;background-color:darkblue;color:whitesmoke;">
            <h1>How It Works</h1>
            Learn how to buy our mutual Kos here.
        </div>
    </div>
</div>

<div id="room">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>