<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="LihatKosV1.MasterPage.Main" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>LihatKos.com | Website Pencari Tempat Kos Terbaik dan Terkini</title>
    
    <meta name="description" content="Website listing Rumah Kos yang menyajikan berbagai macam data Tempat Kos yang Akurat dan Terverifikasi. Saat ini Lokasi jangkauan wilayah kami meliputi Jakarta, Bogor, Tangerang dan Bekasi." />
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500,800|Old+Standard+TT' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500,800' rel='stylesheet' type='text/css'>

    <!-- font awesome -->
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


    <!-- bootstrap -->
    <link type="text/css" rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />

    <!-- uniform -->
    <link type="text/css" rel="stylesheet" href="assets/uniform/css/uniform.default.min.css" />

    <!-- animate.css -->
    <link type="text/css" rel="stylesheet" href="assets/wow/animate.css" />


    <!-- gallery -->
    <link type="text/css" rel="stylesheet" href="assets/gallery/blueimp-gallery.min.css">


<%--    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">--%>


    <!-- Owl Carousel 2 -->
    <link type="text/css" rel="stylesheet" href="assets/owlcarousel/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="assets/owlcarousel/owl.theme.default.min.css">

    <link type="text/css" rel="stylesheet" href="assets/style.css">
    <link href="/Content/AjaxControlToolkit/Styles/Bundle?v=hash" rel="stylesheet"/>

    <script src="/Scripts/AjaxControlToolkit/Bundle?v=hash" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <asp:ContentPlaceHolder ID="cphHead" runat="server"></asp:ContentPlaceHolder>
</head>

<body id="home">


    <!-- top
  <form class="navbar-form navbar-left newsletter" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Your Email Id Here">
        </div>
        <button type="submit" class="btn btn-inverse">Subscribe</button>
    </form>
 top -->
    <form id="form1" runat="server">
        
        <asp:ScriptManager ID="sm2" runat="server" AsyncPostBackTimeout="3000">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/AjaxControlToolkit/Bundle" />
            </Scripts>
        </asp:ScriptManager>
        
        <asp:UpdatePanel ID="UpdatePanel3" runat="server">
            <ContentTemplate>
            
        <!-- navbar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="" alt="LihatKos" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav">
                        
                        <li id="liTambahKos" runat="server"><a href="/DaftarKos">Pasang Iklan</a></li>
                        <li id="liAbout" runat="server" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/AboutUs">About Us</a></li>
                                <li><a href="/ContactUs">Contact Us</a></li>
                            </ul>
                          </li>   
                        <li id="liAdmin" runat="server" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="/FormApproval">Form Approval</a></li>
                              <li><a href="/FormUser">Form User</a></li>
                              <li><a href="/FormBanner">Form Banner</a></li>
                              <li><a href="/Admin/ContactUs">Form ContactUs</a></li>
                              <li><a href="/Admin/FormContent">Form Content</a></li>
                            </ul>
                          </li>       
                    </ul>
                    <p id="pWelcome" runat="server" class="navbar-text" style="margin-left:50px;"><span class="welcome">Welcome, <a href="#" class="navbar-link"><asp:Literal ID="litUsername" runat="server"></asp:Literal></a>
                        </span> <br /><a href="#" class="navbar-link">My Account</a> | <a href="#" class="navbar-link">My Favorites</a> | <a href="/Logout" class="navbar-link">Logout</a></p>        
                                
                            
                </div>
                <!-- Wnavbar-collapse -->
            </div>
            <!-- container-fluid -->
        </nav>
        <!-- header -->

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
            <asp:Button ID="btn1" runat="server" Style="display:none;" />
                <cc1:ModalPopupExtender ID="MPELogin" runat="server" TargetControlID="btn1" DropShadow="true" PopupControlID="pnlLogin" 
                    CancelControlID="btnClose" BackgroundCssClass="modalBackground" />
                <asp:Panel ID="pnlLogin" runat="server" Style="display:none;background-color: #ffffff;width:600px;border-radius: 6px;background-clip: padding-box;" DefaultButton="btnLoginShort">
                        <div class="modal-header">
                        <asp:Button ID="btnClose" CssClass="close" runat="server" Text="x" />
                        <h3>Login to LihatKos.com</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                              
                              <div class="col-xs-6">
                                  <p class="lead">Register</p>
                                  <div class="form-group">
                                      <label>Name</label>
                                      <asp:TextBox ID="txtName" runat="server" CssClass="form-control"></asp:TextBox>
                                  </div>
                                  <div class="form-group">
                                      <label>E-mail Address</label>
                                      <asp:TextBox ID="txtEmailRegister" runat="server" CssClass="form-control"></asp:TextBox>
                                  </div>
                                  <div class="form-group">
                                      <label>Password</label>
                                      <asp:TextBox ID="txtPasswordRegister" runat="server" CssClass="form-control" TextMode="Password"></asp:TextBox>
                                  </div>
                                  <div class="form-group">
                                      <label>Confirm Password</label>
                                      <asp:TextBox ID="txtPasswordConfirm" runat="server" CssClass="form-control" TextMode="Password"></asp:TextBox>
                                  </div>
                                  <div class="form-group">
                                    <div style="color:red;">
                                        <%--<div id="loginErrorMsg" class="alert alert-error hide">--%>
                                        <asp:Label ID="lblRegisterErrorMsg" runat="server" />
                                    </div>
                                    <div style="color:blue;">
                                        <%--<div id="loginErrorMsg" class="alert alert-error hide">--%>
                                        <asp:Label ID="lblRegisterSuccessMsg" runat="server" />
                                    </div>
                                </div>
                                  <asp:LinkButton ID="btnRegister" runat="server" CssClass="btn btn-info btn-block" OnClick="btnRegister_Click">Register</asp:LinkButton>
                                  <%--<ul class="list-unstyled" style="line-height: 2">
                                      <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                      <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                      <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                      <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                      <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                      <li><a href="/read-more/"><u>Read more</u></a></li>
                                  </ul>
                                  <p><a href="/new-customer/" class="btn btn-info btn-block">Yes please, register now!</a></p>--%>
                              </div>
                            <div class="col-xs-6">
                                <p class="lead">Login</p>
                                <div class="well">
                                    
                                        <div class="form-group">
                                            <label for="username" class="control-label">E-mail Address</label>
                                            <asp:TextBox ID="txtEmail" runat="server" CssClass="form-control" />
                                            <%--<input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                                            <span class="help-block"></span>--%>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label">Password</label>
                                            <asp:TextBox ID="txtPassword" runat="server" CssClass="form-control" TextMode="Password" />
                                            <%--<input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                            <span class="help-block"></span>--%>
                                        </div>
                                    
                                        <div class="form-group">
                                                        <asp:CheckBox ID="chkRemember" runat="server" />
                                                        Remember Me
                                        </div>
                                        <div class="form-group">
                                            <div style="color:red;">&nbsp;
                                                <%--<div id="loginErrorMsg" class="alert alert-error hide">--%>
                                                <asp:Label ID="lblLoginErrorMsg" runat="server" />
                                            </div>
                                        </div>
                                        <asp:Button ID="btnLoginShort" runat="server" CssClass="btn btn-success btn-block" Text="Login" OnClick="btnLoginShort_Click" />
                                        <asp:HyperLink ID="hlForgot" runat="server" NavigateUrl="/Forgot" CssClass="btn btn-default btn-block" Text="Forgot Password" />
                                        <%--<div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="remember" id="remember"> Remember login
                                            </label>
                                            <p class="help-block">(if this is a private computer)</p>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-success btn-block">Login</button>
                                        <a href="/forgot/" class="btn btn-default btn-block">Forgot Password</a>--%>
                                    
                                </div>
                            </div>
                            <%--<p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
                            <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
                            <p><button type="submit" class="btn btn-primary">Sign in</button>
                            <a href="#">Forgot Password?</a>
                            </p>--%>
                        </div>
                        <%--<div class="modal-footer">
                        New To LihatKos.com?
                        <a href="#" class="btn btn-primary">Register</a>
                        </div>--%>
                </asp:Panel>
                </ContentTemplate>
            </asp:UpdatePanel>
        
                 
        <!-- services -->
        <%--<div class="spacer services wowload fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="RoomCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="images/photos/8.jpg" class="img-responsive" alt="slide" /></div>
                                <div class="item  height-full">
                                    <img src="images/photos/9.jpg" class="img-responsive" alt="slide" /></div>
                                <div class="item  height-full">
                                    <img src="images/photos/10.jpg" class="img-responsive" alt="slide" /></div>
                            </div>
                            <a class="left carousel-control" href="#RoomCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#RoomCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="caption">Rooms<a href="rooms-tariff.php" class="pull-right"><i class="fa fa-edit"></i></a></div>
                    </div>


                    <div class="col-sm-4">
                        <div id="Yogyakarta" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="images/photos/8.jpg" class="img-responsive" alt="slide" /></div>
                                <div class="item  height-full">
                                    <img src="images/photos/9.jpg" class="img-responsive" alt="slide" /></div>
                                <div class="item  height-full">
                                    <img src="images/photos/10.jpg" class="img-responsive" alt="slide" /></div>
                            </div>
                            <a class="left carousel-control" href="#TourCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#TourCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="caption">Yogyakarta<a href="gallery.php" class="pull-right"><i class="fa fa-edit"></i></a></div>
                    </div>


                    <div class="col-sm-4">
                        <div id="Surabaya" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="images/photos/1.jpg" class="img-responsive" alt="slide" /></div>
                                <div class="item  height-full">
                                    <img src="images/photos/2.jpg" class="img-responsive" alt="slide" /></div>
                                <div class="item  height-full">
                                    <img src="images/photos/5.jpg" class="img-responsive" alt="slide" /></div>
                            </div>
                            <a class="left carousel-control" href="#FoodCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#FoodCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="caption">Surabaya<a href="gallery.php" class="pull-right"><i class="fa fa-edit"></i></a></div>
                    </div>
                </div>
            </div>
        </div>--%>
        <!-- services -->

        <footer class="spacer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h4>LihatKos</h4>
                        <p>Dapatkan info kos murah, kos harian, kos bebas dan info kos lainnya di LihatKos.com </p>
                    </div>

                    <div class="col-sm-3">
                        <h4>Lokasi</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Jabodetabek</a></li>
                            <li><a href="#">Bandung</a></li>
                            <li><a href="#">Yogyakarta</a></li>
                            <li><a href="#">Semarang</a></li>
                            <li><a href="#">Malang</a></li>
                            <li><a href="#">Surabaya</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 subscribe">
                        <h4>Subscription</h4>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter email id here">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Get Notify</button>
                            </span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook-square" data-toggle="tooltip" data-placement="top" data-original-title="facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram" data-toggle="tooltip" data-placement="top" data-original-title="instragram"></i></a>
                            <a href="#"><i class="fa fa-twitter-square" data-toggle="tooltip" data-placement="top" data-original-title="twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-square" data-toggle="tooltip" data-placement="top" data-original-title="pinterest"></i></a>
                            <a href="#"><i class="fa fa-tumblr-square" data-toggle="tooltip" data-placement="top" data-original-title="tumblr"></i></a>
                            <a href="#"><i class="fa fa-youtube-square" data-toggle="tooltip" data-placement="top" data-original-title="youtube"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->

            <!--/.footer-bottom-->
        </footer>
        
        <a href="#home" class="toTop scroll"><i class="fa fa-angle-up"></i></a>




       
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBbgdCbXWZn1idf6nn4KEVi-1YdG_5yu6w&sensor=false&libraries=places"></script>
        <!-- wow script -->
        <script src="assets/wow/wow.min.js"></script>

        <!-- uniform -->
        <script src="assets/uniform/js/jquery.uniform.js"></script>


        <!-- boostrap -->
        <script src="assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>

        <!-- jquery mobile -->
        <script src="assets/mobile/touchSwipe.min.js"></script>

        <!-- jquery mobile -->
        <script src="assets/respond/respond.js"></script>

        <!-- gallery -->
        <script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>

        <!-- Owl Carousel 2 -->
        <script src="assets/owlcarousel/owl.carousel.min.js"></script>


        <!-- custom script -->
        <script src="assets/script.js"></script>


        <!-- Call Owl Carousel 2 -->
        <script type="text/javascript">
            var reloadJQuery;

            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
            function EndRequestHandler(sender, args) {
                if (args.get_error() == undefined && reloadJQuery != undefined) {
                    reloadJQuery();
                }
            }
            reloadJQuery = function () {
                $(function () {
                    //$("#slider-3").slider({
                    //    range: true,
                    //    min: 0,
                    //    max: 5000000,
                    //    step: 5000,
                    //    values: [25000, 2000000],
                    //    slide: function (event, ui) {
                    //        $("#price").val("Rp." + ui.values[0] + " - Rp." + ui.values[1]);
                    //        $("#hidLowRate").val(ui.values[0]);
                    //        $("#hidHighRate").val(ui.values[1]);
                    //    }
                    //});
                    //$("#price").val("Rp." + $("#slider-3").slider("values", 0) +
                    //   " - Rp." + $("#slider-3").slider("values", 1));
                });
            }
            //Sys.WebForms.PageRequestManager.getInstance().add_endRequest(pageLoaded);
            //$(document).ready(function () {
            //Sys.WebForms.PageRequestManager.getInstance().add_endRequest(pageLoaded);

            //});
            function pageLoad() {
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    items: 1,
                    height:849,
                    autoplay: true,
                    autoplayTimeout: 5000,
                    autoplayHoverPause: true
                });

                $(".owl-carousel").owlCarousel();

                $('.dropdown-toggle').dropdown();
            }

        </script>
            







    </form>


</body>
</html>
