<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
    <connectionStrings>
      <add name="conStr" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=digisoftid_db;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="conStr" connectionString="Data Source=184.173.174.232,779\SQL2012;Initial Catalog=digisoftid_db;Integrated Security=False;Persist Security Info=False;User ID=digisoftid_userkos;Password=Zuz1m4$1;" 
           providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>
